{% extends 'base.html' %}
    {% load static %}
   {% block title %}Trang chủ{% endblock %}

<!-- -------------------------carousel  header ---------------------------------->

{% block carouselhome %}
<div id="carouselExampleCaptions" class="carousel slide  " data-bs-ride="carousel">
      <div class="carousel-indicators ">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
    <div class="carousel-inner ">
            <div class="carousel-item active">
              <a href="{% url 'intro' %}"><img src="{% static 'images/coverhome1.jpg' %}" style="height: 350px;" class="d-block w-100" alt="..."></a>
           </div>
            <div class="carousel-item ">
                <a href='{%  url 'home' %}'><img src="{% static 'images/coverhome21.jpg' %}"  style="height: 350px; class="d-block w-100" alt="giải pháp mạng"></a>
            </div>
            <div class="carousel-item">
              <img src="{% static 'images/cover-camera.jpg' %}"  style="height: 350px; class="d-block w-100" alt="camera">
              <div class="carousel-caption d-none d-md-block text-sm-center">
                <h5 >CUNG CẤP CÁC MẪU CAMERA ĐA DẠNG: INDOOR, OUTDOOR, CÁC  CHỦNG LOẠI : IP, WIFI, TƯ VẤN  THEO YÊU CẦU </h5>
              </div>
            </div>
    </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>

{% endblock %}

<!-- ------------------------- Block content ---------------------------------->

{% block content %}
<div>
 <h4>
     <center class="text-danger"  style="margin-bottom: 50px;">THIẾT BỊ MẠNG BÁN CHẠY</center>
 </h4>
        <div class="row">
                    {% for  item in object_list %}
                         <div class="col-sm-6">
                            <div class="card mb-3" style="max-width: 500px;height: 350px;">
                                  <div class="row g-0">
                                        <div class="col-md-4">
                                          <img src="{{ item.picture1 }}" class="img-fluid rounded-start" alt="...">
                                        </div>
                                        <div class="col-md-8">
                                          <div class="card-body">
                                            <h5 class="card-title">{{ item.name }}</h5>
                                            <p class="card-text">
                                                    <li>Thương hiệu:  <strong>{{ item.brand }}</strong></li>
                                                    <li>Tình trạng:  <strong>{{ item.status }}</strong> </li>
                                            </p>
                                            <a href="http://m.me/103237812169437" target="_blank" class="btn btn-primary">Liên hệ giá tốt và giá sỉ</a>
                                          </div>
                                        </div>
                                        <div class="container" style="padding-left: 20px;padding-right: 20px;">
                                            <a href="/{{ item.code_number }}/" class="btn btn-outline-primary btn-sm " >Chi tiết</a>
                                            <p class="card-text"> {{ item.summary|linebreaks }} </p>
                                        </div>

                                  </div>
                            </div>
                      </div>
                {% endfor %}
</div>

{% endblock %}


