{% extends 'base.html' %}
{% load static %}
{% block title %}Giới thiệu{% endblock %}

{% block content %}

<div  class="container">
 <h4><span style="color: #0a53be"> <center>Bình Phước Network</center></span></h4>
    <p> <strong style="color: #0a53be">Bình Phước Network</strong> xin gửi tới Quý khách lời chào trân trọng, đồng thời xin chân thành cảm ơn Quý khách hàng đã tin tưởng lựa chọn, sử dụng các sản phẩm và dịch vụ của chúng tôi.
<strong style="color: #0a53be">Bình Phước Network</strong>  chuyên cung cấp các sản phẩm thiết bị mạng, các dịch vụ tư vấn giải pháp, lắp đặt mô hình mạng LAN/WIFI, Camera.
         Chúng tôi luôn đồng hàng cùng quý khách hàng  trong mọi quá trình tư vấn, lắp đặt và sử dụng sau này.
        Đội ngũ nhân viên kinh nghiệm, luôn sẵn sàng giải đáp thắc mắc và xử lí các yêu cầu của quý khách hàng.
    </p>
    <p>
        <ul>
                Các sản phẩm kinh doanh:
                <li> Thiết bị Router cân bằng tải: Mikrotik, Draytek</li>
                <li> Thiết bị Switch, chuyển mạch: Linksys, TPLink</li>
                <li> Thiết bị Wifi 2 băng tần, độ phủ rộng: Unifi, HPE-Aruba</li>
                <li> Thiết bị Camera an ninh: Indoor, Outdoor</li>
        </ul>
        Sư hài lòng của quý khách hàng là niềm vinh dự của chúng tôi, một lần nữa chúng tôi chân thành cảm ơn Quý khách hàng đã hợp tác với chúng tôi trong thời gian qua và tiếp tục lựa chọn chúng tôi để cùng quý khách hàng đạt được những thành công trong thời gian tới.
        <br><strong style="color: #0a53be">Trân trọng kính chào!</strong>
    </p>
        <div class="card mb-3" style="max-width: 580px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="{%  static  'images/logo1.png' %}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title " style="color: #0a53be">Bình Phước Network</h5>
                <li class="card-text"><strong>Địa chỉ: </strong>Tp. Đồng Xoài, tỉnh Bình Phước </li>
                <li class="card-text"><strong>Tel: </strong> 0981460633 Mr.Hiền <br> 0942965035 Mr.Luân</li>
                  <li> <strong>Email: </strong> <a href="mailto:binhphuocnetwork@gmail.com" class="row_1" target="_blank">binhphuocnetwork@gmail.com</a></li>
              </div>
            </div>
          </div>
        </div>
</div>
{% endblock %}